<div id="<%= dom_id patient %>">
  <p>
    <strong>Fname:</strong>
    <%= patient.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= patient.lname %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= patient.age %>
  </p>

  <p>
    <strong>Diagnosis:</strong>
    <%= patient.diagnosis %>
  </p>

</div>
